@charset "utf-8";

body {
    color: #444;
    margin: 0;
}
.container {
    margin: 0 auto 0 auto;
    max-width: 1000px;
    border: solid 1px #ff0000;
}
section .container {
    display: flex;
    flex-flow: column;
}
main p:last-child{
    margin-bottom: 0;
}
.main-title {
    margin: 0;
}
.copyright {
    margin: 0;
}

nav {
    margin-bottom: 20px;

}

.header-inner {
    padding: 10px 10px 0 10px;
    color: #fff;
    background: #bad7f5;
}
.logo{
    color: #000000;
}
.nav-inner {
    padding: 10px 10px 0 10px;
    color: #fff;
    background: #0086f9;
    
}
.main-inner {
    padding: 20px 10px 20px 10px;
    background: #fffde3;
    height: 400px;
}
.sidebar-inner {
    padding: 20px 10px 20px 10px;
    background: #c0f5b9;
}
footer {
    margin-top: 20px;
}
.footer-inner {
    padding: 20px 16px 10px 16px;
    background: #bad7f5;
}
@media only screen and (min-width: 768px) {
    section .container {
        flex-flow: row;
    }
    main {
        flex: 1 1 auto;
        order: 2; /* orderで並び順を設定 */
    }
    .sidebar {
        flex: 0 0 340px;
        order: 1; /* orderで並び順を設定 */
    }
    .sidebar2 {
        flex: 0 0 250px;
        order: 3; /* orderで並び順を設定 */
    }
}